.main-content-about-us{
    /* width: 100vh; */
    height: 50vh;
    /* border:  solid blue 1px; */
    margin-top: 150px;
}


.main-content-about-us-header h3{
    font-weight: 700;
    font-size: 32px;
    color: #333333;
    text-decoration: none;
    padding-bottom: 15px;
    text-shadow: 0 0 3px #333333;
    /* box-shadow: #333333 0px 5px 15px; */
    box-shadow: #333333 0px 25px 20px -20px;
}

.main-content-about-us-header{

    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 8px;
    display: flex;
    align-items:center;
    justify-content:center;
}

