.header {
  padding: 0.5rem;
  height: 6rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------- */
.header-brand {
  padding: 5px;
  /* border: red solid; */
  display: flex;
  justify-content: center;
}
.header-brand-logo {
  display: block;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 3px #ffffff;
}
.header-brand-logo:hover {
  color: rgb(255, 255, 255);
  transition: all .07s ease-in-out;
}
/* -------------------------------------------------- */




/* -------------------------------------------------- */
.header-navigation {
  /* border: #009914 solid; */
  padding: 5px;
  display: flex;
  justify-content: center;
}

.ul-header-manu-block {
  text-align: center;
}

.header-manu-block-button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 15px;
  width: 140px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button-menu {
  background-color: #333333;
  color: white;
}

.button-menu:hover {
  background-color: rgb(135, 135, 138);
}

.button-menu-link {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0;
}

li {
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

ul li ul {
  background: #333333;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
}

/* -------------------------------------------------- */




/* -------------------------------------------------- */

.header-header-callback-button{
  border-radius: 6px;
}

.header-callback {
  display: flex;
  padding: 5px;
  /* border: blue solid; */
  justify-content: center;
}

.pulse {
  color: black;
  text-decoration: none;
  width: 200px;
  height: 60px;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  background: #ffffff;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

.pulse:hover {
  animation: none;
  box-shadow: #acacac;
}
/* -------------------------------------------------- */










@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}













/* ----------------------- */

