/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 5px;
    /* height: 100px; Should be removed. Only for demonstration */
}
  
.left, .right {
    width: 25%;
    /* border: red solid; */
}

.middle {
    /* border: #72c2f1 solid; */
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header-brand-logo {
    display: block;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
}

.header-brand-logo:hover {
    color: #72c2f1;
    transition: all .07s ease-in-out;
}

.header-brand {
    text-align:left;
    justify-content: center;
}

.header-menu {
    text-align: center;
    justify-content: center;
}

.header-manu-block-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    width: 140px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button-menu {
    background-color:  #333333; 
    color: white;
    /* border: 2px solid #4CAF50; */
  }
.button-menu:hover {
    background-color: #4CAF50;
    color: white;
}

.header-callback {
    justify-content: center;
    text-align:right;
}

.pulse {
    color: white;
    text-decoration: none;
    width: 200px;
    height: 60px;
    font-size: 18px;
    margin: 4px 2px;
    background: red;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255, 255, 255);
    animation: pulse 2s infinite;
}
.pulse:hover {
    animation: none;
    /* color: red; */
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 rgb(255, 255, 255);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 rgb(255, 255, 255);
      box-shadow: 0 0 0 rgb(255, 255, 255);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }