/* grid container */
.main {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'right-sidebar'
        'footer';
}

/* general column padding */
.main > * {
    padding:1rem;
}

/* assign columns to grid areas */
.main > .header {
    grid-area:header;
    width: 100%;
	height: 100%; 
	background-color: #333333;

}
.main > .main-content {
    grid-area:main-content;
    background:#92ecd1;
}
.main > .right-sidebar {
    grid-area:right-sidebar;
    background:#f5d55f;
}
.main > .footer {
    grid-area:footer;
    background:#333333;
    height: 100px;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .main {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'main-content main-content right-sidebar'
            'footer footer footer';
    }
}

