
/* Color*/

a:hover{
    color: inherit;
}

:root{
    --green: #43b23d;
    --white: #ffffff;
    --gray: #454444;
}

.main {
    grid-template-areas:
        'header'
        'main-content'
        'footer';
        background-color: #454444;
}

.main > .header {
	background-color: #333333;

}

.main > .main-content {
    grid-area:main-content;
}

.main > .footer {
    grid-area:footer;
    background:#333333;
    height: 100px;
}




::-webkit-scrollbar {
    width: 16px; /* Ширина полоси прокрутки */
}

::-webkit-scrollbar-track {
    background: #565656; /* Колір фону треку (полоси) */
    border: #fff solid 0.5px;
}

::-webkit-scrollbar-thumb {
    background: #c9c0c0; /* Колір полоси прокрутки */
    border-radius: 2px; /* Радіус кутів полоси прокрутки */
}


/* tablet breakpoint */
@media (min-width:768px) {
    .main {
        grid-template-columns:repeat(1, 1fr);
        grid-template-areas:
            'header header header'
            'main-content main-content'
            'footer footer footer';
    }
}

