
/* Color*/

a:hover{
    color: inherit;
}

:root{
    --green: #43b23d;
    --white: #ffffff;
    --gray: #454444;
}

.main {
    grid-template-areas:
        'header'
        'main-content'
        'footer';
        background-color: #454444;
}

.main > .header {
	background-color: #333333;

}

.main > .main-content {
    grid-area:main-content;
}

.main > .footer {
    grid-area:footer;
    background:#333333;
    height: 100px;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .main {
        grid-template-columns:repeat(1, 1fr);
        grid-template-areas:
            'header header header'
            'main-content main-content'
            'footer footer footer';
    }
}

