.main-content-slogan{
    margin-top: 75px;
}

.main-content-slogan-header{
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 8px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.main-content-slogan-header h2{
    font-weight: 700;
    font-size: 42px;
    color: #333333;
    text-decoration: none;
    padding-bottom: 15px;
    text-shadow: 0 0 3px #333333;
    /* box-shadow: #333333 0px 5px 15px; */
    box-shadow: #333333 0px 25px 20px -20px;
}
